* {
    margin: 0;
    padding: 0;
}

#wrapper{
    width:98%;
    border: 1px solid red;
    margin: 5px;
}

footer, header, nav, aside, section, main {
    font-size: 1.1em;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    border: 1px solid black;
    padding: 3px;
}

main > ul {
    margin-left: 25px;
}

main > section:last-of-type {
    height: 80%;
}

#txt-area {
    font-size: 16px;
    font-family: Verdana;
    height: 300px;
    overflow-y: scroll;
}

#preview-panel {
    border: 1px solid green;
    margin: 5px;
    font-size: 20px;
    height: 300px;
    overflow-y: scroll;
}

.text-edit-btn{
 width: 20px;
}

.hidden {
    display: none;
}

.save-window {
    border: 1px solid purple;
    padding: 20px;
    background-color: pink;
    margin: auto;
}

.search-result {
    background-color: lightblue;
}

#register-form{
    width: 200px;
}