<section>
    <form action="#">
        <p>Category: </p>
        <select id="show-category">
            <option value="Main">Main</option>
            {{#each categories}}
            <option value="{{category._name}}">{{category._name}}</option>
            {{/each}}
        </select>
    </form>
</section>