<section>
    <form action="#">
        <select id="show-category">
            <option value="Select category">Select category</option>
            {{#each categories}}
            <option value="{{category._name}}">{{category._name}}</option>
            {{/each}}
        </select>
    </form>
</section>
<section id="save-files-container">
</section>