    <section>
    <form action="#">
        <input class="text-edit-btn bold-btn" type="button" value="B">
        <input class="text-edit-btn italic-btn" type="button" value="I">
        <input class="text-edit-btn underline-btn" type="button" value="U">
        <span>Font-family: </span>
        <select id="font-family-select">
            <option value="Verdana">Verdana</option>
            <option value="Arial">Arial</option>
            <option value="Times new roman">Times new roman</option>
            <option value="Comic Sans MS">Comic Sans MS</option>            
            <option value="Georgia">Georgia</option>            
            <option value="Courier New">Courier New</option>            
        </select>
        <span>Font-size: </span>
        <select id="font-size-select">
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="22">22</option>
            <option value="24">24</option>
            <option value="26">26</option>
        </select>
    </form>
    <form action="#">
        <input id="input-search" type="text" placeholder="Search">
        <input id="search-btn" type="button" value="Search">
        <input id="save-file-btn" type="button" value="Save File" disabled="disabled">
        <input id="clear-btn" type="button" value="Clear All Text" disabled="disabled">
    </form>
</section>
<section class="save-window hidden">
        <form id="save-window-form" action="">
            <p>Name: </p>
            <input id="file-name" type="text">
            <p>Category: </p>
            <select id="choose-category">
            {{#each categories}}
            <option value="{{category._name}}">{{category._name}}</option>
            {{/each}}
            </select>
            <input id="create-category-btn" type="button" value="Create new category">
            <input id="create-category-text" class="hidden" type="text">
        </form>
        <input id="save-btn" type="button" value="Save">
        <input id="cancel-btn"type="button" value="Cancel">
</section>
<section>
<div contenteditable="true" id="txt-area"></div>
 </section>

