<p>This is a simple text editor.</p>
<p>It is made solely for educational purposes.</p>
<p>Some of its features are: </p>
<p> - Basic text editing - bold, italics, underline, font-size and font-family change.</p>
<p> - Creating and saving files.</p>
<p> - Previewing, deleteing and making the saved files public for everyone to see.</p>
<p> - Sharing the public files.</p>
<p> - Creating different categories for the files.</p>
<p> - Creating user profiles.</p>
<p> - Fortune teller.</p>
<p> - <a href="https://github.com/TelerikAcademy/JavaScript-Applications/tree/master/Teamwork"><u>Link to task.</u></p>