<p>This is a simple text editor.</p>
<p>It is made solely for educational purposes.</p>
<p>Some of its features are: </p>

<section class="section-white">
    <div class="container">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../imgs/THTElogo.jpg" alt="...">
                    <div class="carousel-caption">
                        <h4>Welcome to THTE!</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="../imgs/textEditingPic.jpg" alt="...">
                    <div class="carousel-caption">
                        <h4>Text editing - bold, italics, underline, font-size and font-family change.</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="../imgs/createAndSaveFiles.jpg" alt="...">
                    <div class="carousel-caption">
                        <h4>Create and save files. Preview, delete and make saved files public.</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="../imgs/organizeFiles.jpg" alt="...">
                    <div class="carousel-caption">
                        <h4>Organize files in categories and share public files.</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="../imgs/createProfile.jpg" alt="...">
                    <div class="carousel-caption">
                        <h4>Create your own user profile.</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="../imgs/fortuneTeller.jpg" alt="...">
                    <div class="carousel-caption">
                        <h4>Fortune teller for writer`s block.</h4>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div>
</section>
<!--
<p> - Basic text editing - bold, italics, underline, font-size and font-family change.</p>
<p> - Creating and saving files.</p>
<p> - Previewing, deleteing and making the saved files public for everyone to see.</p>
<p> - Sharing the public files.</p>
<p> - Creating different categories for the files.</p>
<p> - Creating user profiles.</p>
<p> - Fortune teller.</p>
/-->
<p> - <a href="https://github.com/TelerikAcademy/JavaScript-Applications/tree/master/Teamwork"><u>Link to task.</u></p>
