<form action="">

    <label for="EnterUsername">Enter username:</label>
    <input id="EnterUsername" />

    <label for="EnterPassword">Enter password:</label>
    <input id="EnterPassword" />

    <button class="submitBtn">Log In</button>

</form>
