<form action="">
    <label for="log-in-email">Enter e-mail:</label>
    <input id="log-in-email" type="text"/>

    <label for="log-in-password">Enter password:</label>
    <input id="log-in-password" type="password" />

    <button id="log-in-submit">Log In</button>
</form>
