<form action="">
    <label for="log-in-username">Enter username:</label>
    <input id="log-in-username" type="text"/>

    <label for="log-in-password">Enter password:</label>
    <input id="log-in-password" type="password" />

    <button class="log-in-submit">Log In</button>
</form>
