<ul>
    <li><a href="#/document">Document</a></li>
    <li><a href="#/saved-files">Saved files</a></li>
    <li><a href="#/sortes">Sortes</a></li>
    <li id="nav-profile"><a href="#/profile">Profile</a></li>
    <li id="nav-log-out"><a href="#/log-out">Log-out</a></li>
</ul>