<ul>
    <li id="nav-home" class="nav-item selected-nav"><a href="#/home">Home</a></li>
    <li id="nav-login" class="nav-item"><a href="#/log-in">Log-in</a></li>
    <li id="nav-register" class="nav-item"><a href="#/register">Register</a></li>
    <li id="nav-public" class="nav-item"><a href="#/public">Public files</a></li>
</ul>