<ul>
    <li id="nav-doc" class="nav-item"><a href="#/document">Document</a></li>
    <li id="nav-saved" class="nav-item"><a href="#/saved-files">Saved files</a></li>
    <li id="nav-sortes" class="nav-item"><a href="#/sortes">Sortes</a></li>
    <li id="nav-profile" class="nav-item"><a href="#/profile">Profile</a></li>
    <li id="nav-public" class="nav-item"><a href="#/public">Public files</a></li>
    <li id="nav-logout" class="nav-item"><a href="#/log-out">Log-out</a></li>
</ul>