<section id="profile-pic-section">
    <img id="profile-pic" src="../imgs/profilepic.png" alt="profile-picture">
</section>
<section id="profile-info-section">
    <p><strong>Basic Info:</strong></p>
    <p><strong>Username:</strong> <span id="profile-username"></span></p>
    <p><strong>Email:</strong> <snap id="profile-email"></snap></p>
    <p><strong>Country:</strong> <span id="profile-country"></span></p>
    <p><strong>Date created:</strong> <span id="profile-date-created"></span></p>
</section>