<ul>
    {{#each files}}
    <li><p class="tooltipJQ"><a href="#/public/{{_name}}" title="Click to view or share the document"><strong>{{_name}}</strong> by <strong>{{_author}}</strong></a></p></li>
    {{/each}}
</ul>
