<article>
    <header id="art-header">
    <h3 id="art-title">{{this._name}}</h3>
    <p id="art-info"><em>By {{this._author}} - {{this.createdOn}}</em></p>
    </header>
    <p id="art-text">{{this._content}}</p>
</article>