<form action="" id="register-form">
    <label for="enter-username">Enter username:</label>
    <input id="enter-username" type="text"/>

    <label for="enter-password">Enter password:</label>
    <input id="enter-password" type="password" />

    <label for="repeat-password">Repeat password:</label>
    <input id="repeat-password" type="password" />

    <label for="enter-email">Enter email:</label>
    <input id="enter-email" type="text"/>

    <label for="choose-country">Choose country:</label>
    <select id="choose-country">
        <option value="None" selected>None</option>
        <option value="Bulgaria">Bulgaria</option>
        <option value="Azerbaijan">Azerbaijan</option>
        <option value="US">US</option>
        <option value="UK">UK</option>
        <option value="Italy">Italy</option>
        <option value="Azeroth">Azeroth</option>
        <option value="Mars">Mars</option>
    </select>

    <button id="register-btn">Register</button>

</form>
