<form action="" id="register-form" class="form-horizontal">
    <label for="enter-username">Enter username:</label>
    <input id="enter-username" class="form-control" type="text"/>

    <label for="enter-password">Enter password:</label>
    <input id="enter-password" class="form-control" type="password" />

    <label for="repeat-password">Repeat password:</label>
    <input id="repeat-password" class="form-control" type="password" />

    <label for="enter-email">Enter email:</label>
    <input id="enter-email" class="form-control" type="text"/>

    <label for="choose-country">Choose country:</label>
    <select id="choose-country">
        <option value="None" selected>None</option>
        <option value="Bulgaria">Bulgaria</option>
        <option value="Azerbaijan">Azerbaijan</option>
        <option value="US">US</option>
        <option value="UK">UK</option>
        <option value="Italy">Italy</option>
        <option value="Azeroth">Azeroth</option>
        <option value="Mars">Mars</option>
    </select>

    <button id="register-btn" class="btn btn-primary">Register</button>
</form>
