<form action="">

    <label for="EnterUsername">Enter username:</label>
    <input id="EnterUsername" />

    <label for="EnterPassword">Enter password:</label>
    <input id="EnterPassword" />

    <label for="RepeatPassword">Repeat password:</label>
    <input id="RepeatPassword" />

    <label for="ChooseCountry">Choose country:</label>
    <select name="school" id="ChooseCountry">
        <option value="None" selected>None</option>
        <option value="Bulgaria">Bulgaria</option>
        <option value="Azerbaijan">Azerbaijan</option>
        <option value="US">US</option>
        <option value="UK">UK</option>
        <option value="Italy">Italy</option>
        <option value="Azeroth">Azeroth</option>
        <option value="Mars">Mars</option>
    </select>

    <button class="submitBtn">Register</button>

</form>
