<section>
    <form action="#">
        <p>Category: </p>
        <select id="show-category">
            <option value="Main">Main</option>
            {{#each category}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
    </form>
</section>
<section>
    <ul>
    {{#each file}}
    <li>{{_name}} - created on date - by name/anonymous - PREVIEW, DELETE, SHARE</li>
    {{/each}}
    </ul>
</section>


