    <section>Current Document Work Section
    <form action="#">
        <input class="text-edit-btn" type="button" value="B">
        <input class="text-edit-btn" type="button" value="I">
        <input class="text-edit-btn" type="button" value="U">
        <span>Font-family: </span>
        <select>
            <option value="Arial">Arial</option>
            <option value="Times new roman">Times new roman</option>
            <option value="Colibri">Colibri</option>
        </select>
        <span>Font-size: </span>
        <select>
            <option value="8">10</option>
            <option value="10">12</option>
            <option value="12">14</option>
            <option value="14">16</option>
        </select>
    </form>
    <form action="#">
        <input id="input-search-field" type="text" placeholder="Search">
        <input id="search-btn" type="button" value="Search">
        <input id="create-new-doc-btn" type="button" value="Create New Document">
        <input id="save-btn" type="button" value="Save">
        <input id="clear-btn" type="button" value="Clear All Text">
    </form>
</section>
<section>
<textarea></textarea>
 </section>

