<div id="options-container">
    <main>
        <p>Some options here</p>
        <ul>
            <li>Option #1</li>
            <li>Option #2</li>
            <li>Option #3</li>
            <li>Option #4</li>
            <li>Option #5</li>
        </ul>
    </main>  
</div>